on:
  push:
    branches:
    - main

jobs:
  build-and-push-image:
    name: build and push image to container registry
    runs-on: ubuntu-22.04
    steps:
      - name: check list file
        run: ls -la
      - name: clone repository
        uses: actions/checkout@v4 #untuk clone data git
      - name: check list file #untuk cek file
        run: ls -la
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: rizkyhansen/app-golang:${{ github.run_number }}
  
  deploy:
    name: deploy container to server
    runs-on: ubuntu-22.04
    needs:
    - build-and-push-image #ini dulu dikerjain ampe selesai baru lanjut
    steps:
      - name: tes
        run: echo "test workflow"
      - name: deploy to server
        uses: appleboy/ssh-action@v1
        with:
          host: 34.101.162.215
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22 #bisass
          script: |
            docker login --username rizkyhansen --password ${{ secrets.DOCKERHUB_TOKEN }}
            docker pull rizkyhansen/app-golang:${{ github.run_number }}
            docker rm -f myapp
            docker run --name myapp --detach --publish 80:8000 rizkyhansen/app-golang:${{ github.run_number }}